@font-face {
    font-family: 'Neucha';
    src: url("Neucha.woff") format('woff');
    src: url("Neucha.otf");
    src: url("Neucha.svg") format('svg');
    src: url("Neucha.ttf")format('truetype');
}
a,a:link,a:visited,a:focus{
    font-family: Neucha,微软雅黑,Arial,华文细黑;
    font-size:30px;
    text-decoration:none;color:#000;
}
/*设置a的定位，给我们自己编写的下划线一个定位参考*/
.left-to-right{
    margin-left: 20px;
    position:relative;
}
/*使用伪类给a下面添加下划线*/
/*css3为了区别伪类选择器把::改为:,使用:也会自动转为::*/
.left-to-right::after{
    content:'';
    display:block;
    /*开始时候下划线的宽度为0*/
    width:0;
    height:2px;
    position:absolute;
    left:0;
    bottom:0px;
    border-bottom-left-radius: 15px 225px;
    background:#000;
    /*这里我们设定所有改变都有动画效果，可以自己指定样式才有动画效果*/
    transition:all 0.3s ease-in-out;
}
.left-to-right:hover::after{
    width:100%;
}
/* 导航栏样式1 */
.border-1{
    background: #FFFFFF;
    padding: 5px 5px 5px 5px;
    border:2px solid black;
    border-bottom-right-radius: 15px 255px;
    border-bottom-left-radius: 225px 15px;
    border-top-left-radius: 15px 255px;
    border-top-right-radius: 700px 50px;
    margin-bottom: 50px;
}
/* 内容边框 */
.border-2{
    margin: 20px 20px 20px 20px;
    background: #FFFFFF;
    padding:20px 20px 20px 20px;
    border: 2px solid rgb(150,150,150);
    box-shadow: 0 0 3px rgb(150,150,150);

}
/* 文本样式1 */
.text-1{
    font-family: Neucha,微软雅黑,Arial,华文细黑;
    font-size: 25px;
}
